*{
    font-family: sans-serif;
}

.Clickables1:hover {
    opacity: 85%;
    color: rgb(16, 107, 16);
}

.Clickables2 {
    color: white;
}

.Clickables2:hover {
    color: rgb(16, 107, 16);
}

.Clickables3 {
    color: rgb(16, 107, 16);
}

.Clickables3:hover {
    color: white;
}

.Clickables4:hover {
    opacity: 80%;
}

.Greentext {
    color: rgb(16, 107, 16);
}

.Greenbackground {
    background-color: rgb(16, 107, 16);
}

.Greenbackground:hover {
    background-color: rgb(16, 107, 16);
}
