*{
    font-family: sans-serif;
}

.Clickables1:hover {
    opacity: 85%;
}

.Clickables2 {
    color: white;
}

.Clickables2:hover {
    color: rgb(33, 131, 33);
}

.Clickables3 {
    color: rgba(0, 128, 0, 0);
}

.Clickables3:hover {
    color: white;
}

.Clickables4:hover {
    opacity: 80%;
}
